@page "/in-app/articles"
@inject TravelApp.TravelAppService travelAppService

<div class="row-layout articles-container">
    <div class="row-layout group">
        <div class="row-layout group_1">
            <div class="column-layout group_2">
                <h6 class="h6">
                    All articles
                </h6>
                <div class="row-layout group_3">
                    <div class="column-layout group_4">
                        @foreach (var item in travelAppArticlesSource1)
                        {
                            <IgbCard Outlined="true" class="card" articles-scope>
                                <IgbCardMedia class="media-content" articles-scope>
                                    <img src="@item.Image_url" class="image" />
                                </IgbCardMedia>
                                <IgbCardHeader>
                                    <h3 slot="title">
                                        @item.Title
                                    </h3>
                                    <h5 slot="subtitle">
                                        @item.Subtitle
                                    </h5>
                                </IgbCardHeader>
                                <IgbCardActions class="actions-content" articles-scope>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            bookmark_border
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            share
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbButton Variant="ButtonVariant.Flat" class="button" articles-scope>
                                        Read
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                </IgbCardActions>
                            </IgbCard>
                        }
                    </div>
                    <div class="column-layout group_4">
                        @foreach (var item in travelAppArticlesSource2)
                        {
                            <IgbCard Outlined="true" class="card" articles-scope>
                                <IgbCardMedia class="media-content" articles-scope>
                                    <img src="@item.Image_url" class="image" />
                                </IgbCardMedia>
                                <IgbCardHeader>
                                    <h3 slot="title">
                                        @item.Title
                                    </h3>
                                    <h5 slot="subtitle">
                                        @item.Subtitle
                                    </h5>
                                </IgbCardHeader>
                                <IgbCardActions class="actions-content" articles-scope>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            bookmark_border
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            share
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbButton Variant="ButtonVariant.Flat" class="button" articles-scope>
                                        Read
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                </IgbCardActions>
                            </IgbCard>
                        }
                    </div>
                    <div class="column-layout group_4">
                        @foreach (var item in travelAppArticlesSource3)
                        {
                            <IgbCard Outlined="true" class="card" articles-scope>
                                <IgbCardMedia class="media-content" articles-scope>
                                    <img src="@item.Image_url" class="image" />
                                </IgbCardMedia>
                                <IgbCardHeader>
                                    <h3 slot="title">
                                        @item.Title
                                    </h3>
                                    <h5 slot="subtitle">
                                        @item.Subtitle
                                    </h5>
                                </IgbCardHeader>
                                <IgbCardActions class="actions-content" articles-scope>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            bookmark_border
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            share
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbButton Variant="ButtonVariant.Flat" class="button" articles-scope>
                                        Read
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                </IgbCardActions>
                            </IgbCard>
                        }
                    </div>
                    <div class="column-layout group_5">
                        @foreach (var item in travelAppArticlesSource4)
                        {
                            <IgbCard Outlined="true" class="card" articles-scope>
                                <IgbCardMedia class="media-content" articles-scope>
                                    <img src="@item.Image_url" class="image" />
                                </IgbCardMedia>
                                <IgbCardHeader>
                                    <h3 slot="title">
                                        @item.Title
                                    </h3>
                                    <h5 slot="subtitle">
                                        @item.Subtitle
                                    </h5>
                                </IgbCardHeader>
                                <IgbCardActions class="actions-content" articles-scope>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            bookmark_border
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbIconButton Variant="IconButtonVariant.Flat">
                                        <span class="material-icons">
                                            share
                                        </span>
                                        <IgbRipple></IgbRipple>
                                    </IgbIconButton>
                                    <IgbButton Variant="ButtonVariant.Flat" class="button" articles-scope>
                                        Read
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                </IgbCardActions>
                            </IgbCard>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="column-layout group_6">
            <div class="column-layout group_7">
                <h6 class="h6">
                    Recommended
                </h6>
                <div class="column-layout group_8">
                    @foreach (var item in travelAppSelectedArticles)
                    {
                        <IgbCard Outlined="true" class="card" articles-scope>
                            <IgbCardMedia class="media-content_1" articles-scope>
                                <img src="@item.Image_url" class="image" />
                            </IgbCardMedia>
                            <IgbCardHeader>
                                <h3 slot="title">
                                    @item.Title
                                </h3>
                                <h5 slot="subtitle">
                                    @item.Subtitle
                                </h5>
                            </IgbCardHeader>
                            <IgbCardActions class="actions-content" articles-scope>
                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                    <span class="material-icons">
                                        bookmark_border
                                    </span>
                                    <IgbRipple></IgbRipple>
                                </IgbIconButton>
                                <IgbIconButton Variant="IconButtonVariant.Flat">
                                    <span class="material-icons">
                                        share
                                    </span>
                                    <IgbRipple></IgbRipple>
                                </IgbIconButton>
                                <IgbButton Variant="ButtonVariant.Flat" class="button" articles-scope>
                                    Read
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </IgbCardActions>
                        </IgbCard>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private TravelApp.ArticlesSource1Type[] travelAppArticlesSource1 = Array.Empty<TravelApp.ArticlesSource1Type>();
    private TravelApp.ArticlesSource2Type[] travelAppArticlesSource2 = Array.Empty<TravelApp.ArticlesSource2Type>();
    private TravelApp.ArticlesSource3Type[] travelAppArticlesSource3 = Array.Empty<TravelApp.ArticlesSource3Type>();
    private TravelApp.ArticlesSource4Type[] travelAppArticlesSource4 = Array.Empty<TravelApp.ArticlesSource4Type>();
    private TravelApp.SelectedArticlesType[] travelAppSelectedArticles = Array.Empty<TravelApp.SelectedArticlesType>();

    protected override async Task OnInitializedAsync()
    {
        travelAppArticlesSource1 = await this.travelAppService.GetArticlesSource1() ?? travelAppArticlesSource1;
        travelAppArticlesSource2 = await this.travelAppService.GetArticlesSource2() ?? travelAppArticlesSource2;
        travelAppArticlesSource3 = await this.travelAppService.GetArticlesSource3() ?? travelAppArticlesSource3;
        travelAppArticlesSource4 = await this.travelAppService.GetArticlesSource4() ?? travelAppArticlesSource4;
        travelAppSelectedArticles = await this.travelAppService.GetSelectedArticles() ?? travelAppSelectedArticles;
    }
}
